.container-fluid {
    min-height: 75vh;
}

.cursor-pointer {
    cursor: pointer;
}

.text-decoration-none {
    text-decoration: none;
}

.color-red {
    color: #ff4444;
}

.color-red:hover {
    color: #ce3535;
}

.color-blue {
    color: #007bff;
}

.color-black {
    color: #484848;
}

.color-black:hover {
    color: #0c0c0c;
}
#content-fluid{
    min-height: calc(100vh - 156px)
}

.btn-primary, .btn-danger, .btn-info {
    padding: 8px 20px;
}

.btn-sm {
    padding: 7px 10px !important;
}
